/* Image Card */
.image-card {
  padding: 4rem;
  background: var(--white-color);
}

.image-card h1 {
  text-align: center;
}

.image-card h1::after {
  content: "";
  display: block;
  width: 100px;
  margin: 1rem auto;
  border-bottom: 5px solid var(--green-color);
}

/* Card Container */
.card-container {
  width: 90%;
  margin: 0 auto;
}

/* Card Wrapper */
.card-wrapper {
  margin: 3rem 0 2rem;
}

/* Card List */
.card-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1.2rem;
}

/* Card Item */
.card-item {
  width: 50vh;
  margin: 1rem 1rem;
  list-style: none;
  text-decoration: none;
}

/* Card Item Link */
.card-item-link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  text-decoration: none;
}

/* Card Item Picture */
.card-item-picture {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

/* Image Category Point */
.card-item-picture::after {
  content: attr(image-category);
  position: absolute;
  bottom: 0;
  margin-left: 1rem;
  padding: 0.4rem 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--white-color);
  background-color: var(--green-color);
  box-sizing: border-box;
}

/* Card Item Image */
.card-item-image {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
  transition: all 0.2s linear;
}

.card-item-image:hover {
  transform: scale(1.1);
}

/* Card Item Text */
.card-item-text {
  height: 100px;
  font-size: 1.2rem;
  padding: 1.2rem 2rem 2rem;
  color: var(--black-color);
  line-height: 24px;
}

/* Media Query */
@media screen and (max-width: 1300px) {
  .card-item {
    width: 45vh;
  }
}

@media screen and (max-width: 1220px) {
  .card-item {
    width: 38vh;
  }

  .card-item-text {
    height: 120px;
  }
}

@media screen and (max-width: 1024px) {
  .card-item {
    width: 33vh;
  }

  .card-item-text {
    height: 130px;
  }
}

@media screen and (max-width: 960px) {
  .card-item {
    width: 45vh;
  }

  .card-item-text {
    height: 100px;
  }
}
